/Users/lichhsu/Documents/GitHub/control_system/control_system/control_system/control_system-ddyekuukckhjpuenryjxzwaybmeb
/Users/lichhsu/Documents/GitHub/control_system/control_system/control_system/ModuleCache.noindex
control_system/control_system/control_system-ddyekuukckhjpuenryjxzwaybmeb/
control_system/control_system/ModuleCache.noindex/